body, a, button, select, .share {
  transition: all 300ms ease-in-out; }

th, td {
  transition: border-color 400ms; }

html.dark {
  /* Monokai theme */
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
  /* Generic Heading & Diff Header */
  /* Generic.Subheading & Diff Unified/Comment? */
  /* Generic.Deleted & Diff Deleted */
  /* Generic.Inserted & Diff Inserted */ }
  html.dark body {
    background: #11111a;
    color: #e0e0e0; }
  html.dark ::selection {
    background: #1f6febb3; }
  html.dark a {
    color: #49c; }
  html.dark a:visited {
    color: #94c5e2; }
  html.dark button, html.dark select, html.dark .share, html.dark td.lang a {
    background: #252539;
    border-bottom: 2px solid #434367; }
    html.dark button:hover, html.dark button.selected, html.dark select:hover, html.dark select.selected, html.dark .share:hover, html.dark .share.selected, html.dark td.lang a:hover, html.dark td.lang a.selected {
      background: #49c;
      color: #e0e0e0; }
  html.dark .share:hover a {
    color: #e0e0e0; }
  html.dark button, html.dark select {
    color: #e0e0e0; }
  html.dark button:hover {
    background: #49c;
    color: #fff; }
  html.dark th, html.dark td {
    border-bottom: 1px solid #252539;
    color: #e0e0e0; }
  @media all and (max-width: 620px) {
    html.dark tr {
      border-bottom: 3px solid #252539; } }
  html.dark .highlight {
    background: #252539; }
  html.dark .highlight .n {
    color: #818181; }
  html.dark .hll {
    background-color: #272822; }
  html.dark .c {
    color: #75715e; }
  html.dark .err {
    color: #960050;
    background-color: #1e0010; }
  html.dark .k {
    color: #66d9ef; }
  html.dark .l {
    color: #ae81ff; }
  html.dark .n {
    color: #f8f8f2; }
  html.dark .o {
    color: #f92672; }
  html.dark .p {
    color: #f8f8f2; }
  html.dark .cm {
    color: #75715e; }
  html.dark .cp {
    color: #75715e; }
  html.dark .c1 {
    color: #75715e; }
  html.dark .cs {
    color: #75715e; }
  html.dark .ge {
    font-style: italic; }
  html.dark .gs {
    font-weight: bold; }
  html.dark .kc {
    color: #66d9ef; }
  html.dark .kd {
    color: #66d9ef; }
  html.dark .kn {
    color: #f92672; }
  html.dark .kp {
    color: #66d9ef; }
  html.dark .kr {
    color: #66d9ef; }
  html.dark .kt {
    color: #66d9ef; }
  html.dark .ld {
    color: #e6db74; }
  html.dark .m {
    color: #ae81ff; }
  html.dark .s {
    color: #e6db74; }
  html.dark .na {
    color: #a6e22e; }
  html.dark .nb {
    color: #f8f8f2; }
  html.dark .nc {
    color: #a6e22e; }
  html.dark .no {
    color: #66d9ef; }
  html.dark .nd {
    color: #a6e22e; }
  html.dark .ni {
    color: #f8f8f2; }
  html.dark .ne {
    color: #a6e22e; }
  html.dark .nf {
    color: #a6e22e; }
  html.dark .nl {
    color: #f8f8f2; }
  html.dark .nn {
    color: #f8f8f2; }
  html.dark .nx {
    color: #a6e22e; }
  html.dark .py {
    color: #f8f8f2; }
  html.dark .nt {
    color: #f92672; }
  html.dark .nv {
    color: #f8f8f2; }
  html.dark .ow {
    color: #f92672; }
  html.dark .w {
    color: #f8f8f2; }
  html.dark .mf {
    color: #ae81ff; }
  html.dark .mh {
    color: #ae81ff; }
  html.dark .mi {
    color: #ae81ff; }
  html.dark .mo {
    color: #ae81ff; }
  html.dark .sb {
    color: #e6db74; }
  html.dark .sc {
    color: #e6db74; }
  html.dark .sd {
    color: #e6db74; }
  html.dark .s2 {
    color: #e6db74; }
  html.dark .se {
    color: #ae81ff; }
  html.dark .sh {
    color: #e6db74; }
  html.dark .si {
    color: #e6db74; }
  html.dark .sx {
    color: #e6db74; }
  html.dark .sr {
    color: #e6db74; }
  html.dark .s1 {
    color: #e6db74; }
  html.dark .ss {
    color: #e6db74; }
  html.dark .bp {
    color: #f8f8f2; }
  html.dark .vc {
    color: #f8f8f2; }
  html.dark .vg {
    color: #f8f8f2; }
  html.dark .vi {
    color: #f8f8f2; }
  html.dark .il {
    color: #ae81ff; }
  html.dark .gu {
    color: #75715e; }
  html.dark .gd {
    color: #f92672; }
  html.dark .gi {
    color: #a6e22e; }
