@import url(normalize.css);
@import url(main.css);
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto+Slab:700|Open+Sans:400,700&subset=latin,latin-ext,cyrillic");
@import url(light.css);
body {
  font-family: "Open Sans", sans-serif;
  line-height: 22pt; }

select {
  border: none;
  border-radius: 3px; }

button {
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  padding: 2px 6px;
  text-decoration: none; }
  button:hover {
    background: #f5f5f5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif; }

h1, h2, h3, h4, h5, h6, p, li, hr {
  padding: 0;
  margin: 22pt 0 0 0;
  line-height: 22pt; }

li + li {
  margin-top: 0; }

.container {
  max-width: 60em;
  margin: 0px auto; }
  @media all and (max-width: 880px) {
    .container {
      margin: 0px 20px; } }
#doc {
  font-size: 14pt; }
  #doc div.highlight {
    font-family: "Ubuntu Mono", monospace;
    line-height: 18pt;
    display: block; }
  #doc img {
    max-width: 100%; }
  #doc footer {
    margin-top: 60px;
    text-align: right;
    color: #777; }

div.highlight {
  background: #eee;
  padding: 0 18pt;
  margin-top: 22pt;
  overflow-x: auto; }
  div.highlight.c {
    font-style: normal; }
  div.highlight .c1 {
    font-style: normal; }
  div.highlight .nb, div.highlight .nf, div.highlight .k {
    font-weight: 700; }
  div.highlight .n {
    color: #333; }

table {
  margin-top: 22pt;
  width: 100%; }

th, td {
  text-align: left;
  border-bottom: 1px solid #eee;
  line-height: 33pt; }
  th h1:first-child, th h2:first-child, th h3:first-child, th h4:first-child, th h5:first-child, th h6:first-child, th p:first-child, td h1:first-child, td h2:first-child, td h3:first-child, td h4:first-child, td h5:first-child, td h6:first-child, td p:first-child {
    margin-top: 0; }

th.name {
  width: 50%; }

th.lang {
  width: 50%; }

td.name a {
  font-size: 1.2em;
  font-weight: bold; }

td.lang a {
  background: #eee;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
  padding: 0 5px;
  text-decoration: none; }
  td.lang a:hover {
    background: #f5f5f5; }
  td.lang a.selected {
    background: #ff9; }

@media all and (max-width: 620px) {
  tr {
    display: block;
    border-bottom: 3px solid #eee;
    margin-bottom: 10px; }
  th.name {
    display: block;
    width: 100%; }
  th.lang {
    display: none; }
  td.name {
    display: block;
    font-size: 16pt;
    line-height: 24pt; }
  td.lang {
    display: block;
    text-align: right; } }

.share {
  float: right;
  text-align: center;
  line-height: 40px;
  background: #eee;
  padding: 0 20px;
  border-radius: 3px;
  border-bottom: 2px solid #ddd; }
  .share .sharemsg {
    font-weight: bold;
    display: block; }

.lang-choice {
  float: right; }

.theme-choice {
  float: right;
  clear: right; }

body, a, button, select, .share {
  transition: all 300ms ease-in-out; }

th, td {
  transition: border-color 400ms; }

html.dark {
  /* Monokai theme */
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
  /* Generic Heading & Diff Header */
  /* Generic.Subheading & Diff Unified/Comment? */
  /* Generic.Deleted & Diff Deleted */
  /* Generic.Inserted & Diff Inserted */ }
  html.dark body {
    background: #11111a;
    color: #e0e0e0; }
  html.dark a {
    color: #49c; }
  html.dark a:visited {
    color: #94c5e2; }
  html.dark button, html.dark select, html.dark .share, html.dark td.lang a {
    background: #252539;
    border-bottom: 2px solid #434367; }
    html.dark button:hover, html.dark button.selected, html.dark select:hover, html.dark select.selected, html.dark .share:hover, html.dark .share.selected, html.dark td.lang a:hover, html.dark td.lang a.selected {
      background: #49c;
      color: #e0e0e0; }
  html.dark button, html.dark select {
    color: #e0e0e0; }
  html.dark button:hover {
    background: #49c;
    color: #fff; }
  html.dark th, html.dark td {
    border-bottom: 1px solid #252539;
    color: #e0e0e0; }
  @media all and (max-width: 620px) {
    html.dark tr {
      border-bottom: 3px solid #252539; } }
  html.dark .highlight {
    background: #252539; }
  html.dark .highlight .n {
    color: #818181; }
  html.dark .hll {
    background-color: #272822; }
  html.dark .c {
    color: #75715e; }
  html.dark .err {
    color: #960050;
    background-color: #1e0010; }
  html.dark .k {
    color: #66d9ef; }
  html.dark .l {
    color: #ae81ff; }
  html.dark .n {
    color: #f8f8f2; }
  html.dark .o {
    color: #f92672; }
  html.dark .p {
    color: #f8f8f2; }
  html.dark .cm {
    color: #75715e; }
  html.dark .cp {
    color: #75715e; }
  html.dark .c1 {
    color: #75715e; }
  html.dark .cs {
    color: #75715e; }
  html.dark .ge {
    font-style: italic; }
  html.dark .gs {
    font-weight: bold; }
  html.dark .kc {
    color: #66d9ef; }
  html.dark .kd {
    color: #66d9ef; }
  html.dark .kn {
    color: #f92672; }
  html.dark .kp {
    color: #66d9ef; }
  html.dark .kr {
    color: #66d9ef; }
  html.dark .kt {
    color: #66d9ef; }
  html.dark .ld {
    color: #e6db74; }
  html.dark .m {
    color: #ae81ff; }
  html.dark .s {
    color: #e6db74; }
  html.dark .na {
    color: #a6e22e; }
  html.dark .nb {
    color: #f8f8f2; }
  html.dark .nc {
    color: #a6e22e; }
  html.dark .no {
    color: #66d9ef; }
  html.dark .nd {
    color: #a6e22e; }
  html.dark .ni {
    color: #f8f8f2; }
  html.dark .ne {
    color: #a6e22e; }
  html.dark .nf {
    color: #a6e22e; }
  html.dark .nl {
    color: #f8f8f2; }
  html.dark .nn {
    color: #f8f8f2; }
  html.dark .nx {
    color: #a6e22e; }
  html.dark .py {
    color: #f8f8f2; }
  html.dark .nt {
    color: #f92672; }
  html.dark .nv {
    color: #f8f8f2; }
  html.dark .ow {
    color: #f92672; }
  html.dark .w {
    color: #f8f8f2; }
  html.dark .mf {
    color: #ae81ff; }
  html.dark .mh {
    color: #ae81ff; }
  html.dark .mi {
    color: #ae81ff; }
  html.dark .mo {
    color: #ae81ff; }
  html.dark .sb {
    color: #e6db74; }
  html.dark .sc {
    color: #e6db74; }
  html.dark .sd {
    color: #e6db74; }
  html.dark .s2 {
    color: #e6db74; }
  html.dark .se {
    color: #ae81ff; }
  html.dark .sh {
    color: #e6db74; }
  html.dark .si {
    color: #e6db74; }
  html.dark .sx {
    color: #e6db74; }
  html.dark .sr {
    color: #e6db74; }
  html.dark .s1 {
    color: #e6db74; }
  html.dark .ss {
    color: #e6db74; }
  html.dark .bp {
    color: #f8f8f2; }
  html.dark .vc {
    color: #f8f8f2; }
  html.dark .vg {
    color: #f8f8f2; }
  html.dark .vi {
    color: #f8f8f2; }
  html.dark .il {
    color: #ae81ff; }
  html.dark .gu {
    color: #75715e; }
  html.dark .gd {
    color: #f92672; }
  html.dark .gi {
    color: #a6e22e; }
