@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto+Slab:700|Open+Sans:400,700&subset=latin,latin-ext,cyrillic");
body {
  font-family: "Open Sans", sans-serif;
  line-height: 22pt; }

select {
  border: none;
  border-radius: 3px; }

button {
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  padding: 2px 6px;
  text-decoration: none; }
  button:hover {
    background: #f5f5f5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif; }

h1, h2, h3, h4, h5, h6, p, li, hr {
  padding: 0;
  margin: 22pt 0 0 0;
  line-height: 22pt; }

li + li {
  margin-top: 0; }

.container {
  max-width: 60em;
  margin: 0px auto; }
  @media all and (max-width: 880px) {
    .container {
      margin: 0px 20px; } }
#doc {
  font-size: 14pt; }
  #doc div.highlight {
    font-family: "Ubuntu Mono", monospace;
    line-height: 18pt;
    display: block; }
  #doc img {
    max-width: 100%; }
  #doc footer {
    margin-top: 60px;
    text-align: right;
    color: #777; }

div.highlight {
  background: #eee;
  padding: 0 18pt;
  margin-top: 22pt;
  overflow-x: auto; }
  div.highlight.c {
    font-style: normal; }
  div.highlight .c1 {
    font-style: normal; }
  div.highlight .nb, div.highlight .nf, div.highlight .k {
    font-weight: 700; }
  div.highlight .n {
    color: #333; }

table {
  margin-top: 22pt;
  width: 100%; }

th, td {
  text-align: left;
  border-bottom: 1px solid #eee;
  line-height: 33pt; }
  th h1:first-child, th h2:first-child, th h3:first-child, th h4:first-child, th h5:first-child, th h6:first-child, th p:first-child, td h1:first-child, td h2:first-child, td h3:first-child, td h4:first-child, td h5:first-child, td h6:first-child, td p:first-child {
    margin-top: 0; }

th.name {
  width: 50%; }

th.lang {
  width: 50%; }

td.name a {
  font-size: 1.2em;
  font-weight: bold; }

td.lang a {
  background: #eee;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
  padding: 0 5px;
  text-decoration: none; }
  td.lang a:hover {
    background: #f5f5f5; }
  td.lang a.selected {
    background: #ff9; }

@media all and (max-width: 620px) {
  tr {
    display: block;
    border-bottom: 3px solid #eee;
    margin-bottom: 10px; }
  th.name {
    display: block;
    width: 100%; }
  th.lang {
    display: none; }
  td.name {
    display: block;
    font-size: 16pt;
    line-height: 24pt; }
  td.lang {
    display: block;
    text-align: right; } }

.share {
  float: right;
  text-align: center;
  line-height: 40px;
  background: #eee;
  padding: 0 20px;
  border-radius: 3px;
  border-bottom: 2px solid #ddd; }
  .share .sharemsg {
    font-weight: bold;
    display: block; }

.lang-choice {
  float: right; }

.theme-choice {
  float: right;
  clear: right; }
