@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto+Slab:400,700)

body
  font-family: "Roboto Slab", serif

.container
  width: 840px
  margin: 0px auto

#doc
  font-size: 14pt
  .highlight
    font-family: "Ubuntu Mono", monospace
    line-height: 18pt

  footer
    margin-top: 60px
    text-align: right
    color: #777

// Modifications to highlighting
.highlight
  background: #eee
  padding: 18pt
  &.c
    font-style: normal
  .c1
    font-style: normal
  .nb, .nf, .k
    font-weight: 700
  .n
    color: #333
  margin: 0
