---
title: Learn X in Y minutes
layout: home
---
%h1 Learn X in Y minutes

%p Take a whirlwind tour of your next favorite language.

// Sorry
%ul
  - docs.each do |r|
    %li
      %a{:href => r.url}
        = r.metadata[:page]["language"]

%p
  Want to add your favorite language to the list? Head on over to
  %a(href="https://github.com/adambard/learnxinyminutes-docs") Github
  and send a pull request!

%hr
%p(style="text-align: right")
  %a(href="https://twitter.com/adambard") @adambard

