---
title: Learn X in Y minutes
layout: home
---
%h1 Learn X in Y minutes

%p Take a whirlwind tour of your next favorite language.

// Sorry
%ul
  - sitemap.resources.select{ |r| r.path.match(/^docs\//) and not r.url.include?("README") }.sort_by{ |r| r.metadata[:page]["language"] }.each do |r|
    %li
      %a{:href => r.url}
        = r.metadata[:page]["language"]
%hr
